@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Josefin Sans',sans-serif;
}

body{
    background: #f3a6b5;
    
}

.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    display: flex;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}
.wrapper .left{
    width: 35%;
    background: linear-gradient(to right,#01a9ac,#01dbdf);
    padding: 30px 30px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    color: white;
}
.wrapper .left img{
    margin-bottom: 10px;
    border-radius: 5px;
}
.wrapper .left h4{
    margin-bottom: 10px;
}
.wrapper .left p{
   font-size: 13px;
}
.wrapper .right{
    width: 65%;
    background: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 30px 25px;
}
.wrapper .info {
    margin-bottom: 25px;
}
.wrapper .info h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid#e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.wrapper .right .info-data{
    display: inline-table;
    justify-content: space-between;
}
.wrapper .right .info-data .data {
   width: 45%;
}
.wrapper .right .info-data .data h4{
   margin-bottom: 5px;
    color: #353c4e;
 }
 .wrapper .right .info-data .data p{
     font-size: 14px;
    margin-bottom: 10px;
     color: #919aa3;
  }